<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UTaste</title>
</head>

<body>
  <h1>Utaste</h1>
  <h3>Welcome
    <% cout << context["username"]; %>
  </h3>
  <div><a href="/restaurants"> Restaurants </a><br> </div>
  <div><a href="/reservation"> Make a Reservation </a><br> </div>
  <div><a href="/reserve_list"> Reservation List </a><br> </div>
  <div><a href="/budget"> Manage Budget </a><br> </div>
  <div><a href="/logout">Logout</a><br> </div>

</body>

</html>