<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UTaste</title>
  <style>  
    table {  
        width: 100%;  
        border-collapse: collapse;  
    }  
    th, td {  
        border: 1px solid #ddd;  
        padding: 8px;  
        text-align: left;  
    }  
    th {  
        background-color: #f2f2f2;  
    }  
</style>  
</head>

<body>  

    <h2>Reservation List</h2>  
    <table>  
        <thead>  
            <tr>  
                <th>Order ID</th>  
                <th>Restaurant</th>  
                <th>Table Number</th>  
                <th>Start Time</th>  
                <th>End Time</th>  
                <th>Items</th>  
                <th>Price Before Dsicount</th>  
                <th>Price After Dsicount</th>   
            </tr>  
        </thead>  
        <tbody>  
            <%for (long unsigned int i=0; i<context.size()/8; i++) {%>
            <tr>  
                <%for (int j=0; j<8; j++) {%>
                <td><%cout<<context[to_string(8*i+j)];%></td>  
                <%}%>
            </tr>
            <%}%>
        </tbody>  
    </table>  
    
    <p style="color: red;"><%if(context["msg"]!="msg"){cout<<context["msg"];} %></p>

    <a href="/dashboard">Back to Dashboard</a><br>
    <a href="/logout">Logout</a>
    </body>  

</html>