<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicken Family Menu</title>
</head>

<body>
    <fieldset>
        <h4>Reserve a Table</h4>
        <form action="/restaurants" method="POST">
            <label for="restaurant_name">Restaurant:</label>
            <select id="restaurant_name" name="restaurant_name" required>
                <option value="burger land">burger land</option>
                <option value="eram">eram</option>
                <option value="fish & chips">fish & chips</option>
                <option value="gardino">gardino</option>
                <option value="hani">hani</option>
                <option value="hossein garden">hossein garden</option>
                <option value="khorsand">khorsand</option>
                <option value="lidoma">lidoma</option>
                <option value="majid">majid</option>
                <option value="martin">martin</option>
                <option value="niko sefat">niko sefat</option>
                <option value="orkideh">orkideh</option>
                <option value="rouhi">rouhi</option>
                <option value="shila1">shila1</option>
                <option value="shila2">shila2</option>
                <option value="shila3">shila3</option>
                <option value="shiraz">shiraz</option>
                <option value="sib">sib</option>
                <option value="tehroonchi">tehroonchi</option>
                <option value="yas">yas</option>
            </select><br><input type="submit" value="Show Details">
        </form>
    </fieldset><br>
    <h2>burger land</h2>
    <h3>District: Tehranpars</h3>
    <h3>Time: 12-23</h3>
    <div id="1">
        <h2>Menu</h2>
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>burger</td>
                <td>210</td>
            </tr>
            <tr>
                <td>hotdog</td>
                <td>195</td>
            </tr>
            <tr>
                <td>pitza</td>
                <td>340</td>
            </tr>
        </table>
    </div>
    <div id="2">
        <h2>Discounts</h2>
        <table>
            <tr>
                <th>Type</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>Order Amount Discount</td>
                <td>30% off on orders above 500</td>
            </tr>
            <tr>
                <td>Item Specific Discount</td>
                <td>burger: 10% off<br>hotdog: 100Toman off<br>pitza: 20Toman off<br></td>
            </tr>
            <tr>
                <td>First Order Discount</td>
                <td>50</td>
            </tr>
        </table>
        <h2>Tables</h2>
        <table id="3">
            <tr>
                <th>Id</th>
                <th>Reservation Times</th>
            </tr>
            <tr>
                <td>1</td>
                <td> (13-15),
                <td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                <td>
            </tr>
        </table><a href="/dashboard">Back to Daahboard</a> <br><a href="/logout">Logout</a> <br>
</body>

</html>